extends base

block content

  main.main 
    .card-container

      each player in players
        .card
          .card__header
            .card__picture
              .card__picture-overlay &nbsp;
              img.card__picture-img(src=`images/players/${player.photo}`, alt=`${player.name}`)
            h3.heading-tertirary
              span= player.name

          .card__details
            h4.card__sub-heading= `${player.position}` 
            p.card__text= `${player.age} years old`
            .card__data
              svg.card__icon
                use(xlink:href='img/icons.svg#icon-map-pin')
              span= `${player.points} points`
            .card__data
              svg.card__icon
                use(xlink:href='img/icons.svg#icon-calendar')
              span= `${player.assists} assists`
            .card__data
              svg.card__icon
                use(xlink:href='img/icons.svg#icon-flag')
              span= `${player.rebound} rebounds`
            .card__data
              svg.card__icon
                use(xlink:href='img/icons.svg#icon-user')
              span= `${player.rings} rings`

          .card__footer
         
            a.btn.btn--green.btn--small(href=`/player/${player.id}`) Details